@import url('https://fonts.googleapis.com/css?family=Alata:300,400,500,600,700,800,900&display=swap');

*{
    font-family: 'Alata', Arial;
}


body{
    background-image: url('../images/back.jpg');
    color: #fff;
    font-size: 12px;
}

.imglogoMain{
    display: flex;
    margin: 0 auto;
    max-width: 100%;
    width: 165px;
    height: 135px;
    /* background-color: rgba(212, 212, 212, 0.924); */
    padding: 10px 10px;
    border-radius: 5px;
}

.imglogo{
    display: flex;
    margin: 0 auto;
    max-width: 100%;
    width: 165px;
    height: 135px;
    /* background-color: rgba(212, 212, 212, 0.924); */
    padding: 10px 10px;
    border-radius: 5px;
}

table {
    min-width: 70%;
    margin: auto;
    text-align: center;
    table-layout: fixed;
}

table, tr, th, td{
    padding: 7px 0;
    color: white;
    border-collapse: collapse;
    font-size: 13px;
    background-color: rgb(185, 116, 37, 0.4);
}

th{
    color: yellow;
    padding: 10px 10px;
    font-size: 11px;
}

.item{
    font-size: 13px;
}

.descricaoDoHam{
    font-size: 10px;
}

#total, #totalTXT{
    color: rgb(99, 226, 243);
}

button{
    background-color: orange;
    color: white;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 5px;
}

.btn-goBack, .goBack, .btn-avancaForm, .btn-comprarMais, #finalizarPedido, #confirmarPedido{
    margin: 20px 10px;
}

.btn-avancaForm, #finalizarPedido, #confirmarPedido{
    float: right;
}

#confirmarPedido{
    position: relative;
    bottom: 120px;
    right: 700px;
}

form{
    margin-left: 5%;
}

input{
    display: block;
    width: 45%;
    margin: 10px 0 5px 0;
    border: solid black;
    border-radius: 6px;
    padding: 10px;
}

select{
    margin-top: 5px;
    color: white;
    background-color: orange;
    border: black;
    padding: 6px;
    font-family: sans-serif;
}

textarea{
    border: solid black;
    border-radius: 6px;
}

#troco{
    width: 33%;
}

.logoform{
    width: 40%;
    height: 75%;
    background-color: #fff;
    border-radius: 10%;
    padding: 20px 10px;
    position: absolute;
    top: 80px;
    left: 700px;
}

form{
    /* background-color: rgba(255, 217, 0, 0.753); */
    padding: 20px 10px;
    border-radius: 7px;
}

.msgFim{
    padding: 10px;
    color: #fff;
    text-align: justify;
}

.btnFim{
    display: flex;
    margin: 20px auto;
}

@media(max-width: 768px){
    input{
    display: block;
    width: 85%;
    margin: 1rem 0 .5rem;
    border: solid black;
    border-radius: 6px;
    padding: 2%;
}

#confirmarPedido{
    right: 5px;
}

.logoform{
    display: none;
}

}