@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('../images/back.jpg');
    /* background-color: #dedede; */
    margin: 10px;
}

.imglogoMain{
    display: flex;
    margin: 0 auto;
    max-width: 100%;
    width: 165px;
    height: 135px;
    /* background-color: rgba(212, 212, 212, 0.924); */
    
    border-radius: 5px;
}

.imglogo{
    display: flex;
    margin: 0 auto;
    max-width: 100%;
    width: 165px;
    height: 135px;
    border-radius: 5px;
}

h1{
    color: red;
    margin: 15px;
    font-family: sans-serif;
    font-family: 'Josefin Sans', sans-serif;
}

section{
    margin: 0;
    /* display: flex; */
}

hr{
    width: 95%;
    margin: 5px auto;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 800px;
    margin: 10px auto;
    grid-gap: 10px;
    color: black;
    background-color: #fff;
    padding: 0px 10px;
    padding-bottom: 10px;
    overflow: hidden;
    box-shadow: #000 0 2px 5px;
    border-radius: 5px;
}

.hamburguerFoto{
    /* max-width: 100%;
    max-height: 250px; */
    width: 80px;
    height: 80px;
    border-radius: 5px;
    justify-self: center;
    grid-column: 1/2;
    grid-row: 2;
}

.imgapr{
    display: flex;
    margin: 5px auto;
    width: 300px;
    max-height: 600px;
}

.tituloHamburguer{
    grid-column: 1/4;
    font-family: 'Bangers', sans-serif;
    color:orange;
    font-size: 25px;
    margin-top: 5px;
}

.descricaoHamburguer{
    grid-column: 2/4;
    font-family: 'Kalam';
    margin-top: 10px;
    font-weight: 700;
}

select{
    width: 45%;
    justify-self: center;
    color: white;
    background-color: orange;
    border: black;
    padding: 6px;
    font-family: sans-serif;
    grid-row: 3;
}

.subtotalValor{
    font-family: 'Bebas Neue';
    font-size: 1.1rem;
    margin-top: 5px;
    justify-self: center;
    align-self: center;
}

button{
    background-color: orange;
    color: white;
    padding: 5px;
    font-family: sans-serif;
    border-radius: 4px;
    border: black;
    
}

.btnPedir{
    grid-column: 3;
    width: 60%;
    justify-self: center;
    align-self: center;    
}

.btn-goBack{
    display: grid;
    margin: 40px  auto;
}

#insereObs, #confirmaInsere{
    display: flex;
    margin: 5px auto;
}

#insereObs{
    border: solid 1px black;
    background-color: #fff;
    border-radius: 3px;
}

#nomePedido{
    text-align: center;
    margin: 8px;
    font-size: 25px;
    font-family: 'Kalam', sans-serif;
    color: goldenrod;
}

.pastelaria > select{
    display: flex;
    margin: 5px auto;
}

.listaMolho{
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: left;
    max-width: 600px;
    margin: 0 auto;
    
}

.listaMolho > label{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.listaMolho > label > input{
    margin-top: 6px;
    justify-self: center;
    justify-items: center;
}

.listaMolho > label > p{
    text-align: center;
    width: 150px;
    font-size: 20px;
    font-family: 'Bebas Neue', sans-serif;
}

@media(max-width: 968px){
    .imgapr{
        display: flex;
        margin: 5px auto;
        /* width: 300px; */
        max-width: 90%;
        max-height: 90%;
    }
}